<div class="container">
<div class="row">
    			<div class="span8" style="margin: 50px 190px auto">
    				<div class="signup-price-bg">
    					<h2><span class="red">Make money from twitter, facebook & blogs</span> <span class="white">Want know How?</span></h2>
    					<h2>coming soon!!</h2>
    				</div><!--price bg -->
    			</div><!-- span3 -->
            </div>