<div class="container">
    <div class="wantfreething"> 

    </div>
 
<div class="row">
  <ul class="nav nav-tabs">
  <li class="active"><a href="#">Account Settings</a></li>
  <li><a href="#">Manage Links</a></li>
  <li><a href="#">Manage Widgets</a></li>
</ul>
    			<div class="span12">
    				<div class="price-bg">
    					<h2><span class="red">Wasssup</span> <%= @user.first_name %> <span class="green"></span></h2>
              <div class="listofsite"> <h5 style="color: white;float: left;;font-size: 21px;margin-left: 12px;"> List of sites</h5> <span class="sites"><%= link_to("Add website", new_blog_url) %></span></div>
              <div class="home-chart drop-shadow">
                        
          <table class="table table-hover">

            <caption> <h2 class="white" style="text-align: left;">Website Info</h2>  </caption>
                <!--<tr>
                  <th><h4> </h4> </th>
                  <th><h4>easy payday usa</h4></th>
                  <th><h4>easy payday usa</h4></th>
                </tr>-->
                <tr>
                  <td>website name</td>
                  <td>(website name)</td>

                  
                </tr>
                <tr>
                  <td>website url</td>
                  <td>(website url)</td>
                  
                </tr>
                <tr>
                  <td>Rss Feed url</td>
                  <td>(Rss Feed url)</td>
                </tr>
                <tr>
                  <td>Description:</td>
                  <td>(Description)</td>
                </tr>
                
               
        </table>
        
              
            </div><!--price bg -->
    				</div><!--price bg -->
    			</div><!-- span3 -->
    	    	
    			<div class="span12">
    				<div class="home-chart drop-shadow">
                        <h1>hhhhh hhhh hhhh hhhh hhhh hhh </h1>
         
    				</div><!--price bg -->
    		 </div>
    		
<script>
            // countdown setup
            // set date, note: months are 0-based ---- numbers are: year, month, day, hour, minute, second, milliseconds
            var ts = (new Date(2013,10,6,10,0,0,0));
            $('#countdown').countdown({ timestamp : ts, movement: 60 });
        </script>