  <div class="container">
    <div class="wantfreething"> 

    </div>
 
<div class="row">
    			<div class="span7">
    				<div class="price-bg">
    					<div><a href='http://trkur.com/trk?o=7152&p=131385&s1=&s2=&s3='><img src='http://www.sellcell.com/blog/wp-content/uploads/2012/12/apple-ipad-3.jpg' /></a></div>
    					<h2><span class="red">ipad 3Gen</span> Get it here Free <span class="green">$0</span></h2>
    					<p class="red">Hurry up and get it for free.
						More music, messages, and websites. Major improvement has to do with the processor of the device, which is now the so-called A5X - still a dual-core processor, but with a new quad-core GPU for outstanding graphics performance. Surprise yourself with this great gadget</p>
    					<a href="http://trkur.com/trk?o=7152&p=131385&s1=7serch" class="green-btn">Sign Up Now & get your ipad next!! </a>
    				</div><!--price bg -->
    			</div><!-- span3 -->
    	    	<div class="span5">
    				<div class="price-bg">
    					<h2><span class="red">16GB</span> ipad 3Gen for free - <span class="green">$0</span></h2>
    					<p>This package is great for personal use.</p>
						<ol>
						<li style="color: white;"><b>first you enter your email( i have two email accounts one for important stuff and one for try things like this)&nbsp;</b></li>
						<li style="color: white;"><b>this is what happen next you have to&nbsp;participate in A surveys its&nbsp;not&nbsp;that long maybe about 20 question&nbsp;</b></li>
						<li style="color: white;"><b>then you have to tell about three friend about this offer. That's it then&nbsp; we will asks&nbsp;for your shipping address&nbsp;</b></li>
						<li style="color: white;"><b>then about 7 days later you will get your  ipad 3 <span  class="red">&nbsp;Important(  you will get a&nbsp;</span></b><span class="red"><b>refurbished ipad. but it work and gets the job done and its FREE </b></span></li>
						</ol>
						<h5 style="color: gold;">This wont last for ever</h5>
               <div id="countdown" class="countdown">
                    <div class="segment Days">
                        
                </div>
            </div>

    				</div><!--price bg -->
    			</div><!-- span3 -->
    			<div class="span12">
    				<div class="price-bg">
    					<i class="icon-folder-open"></i>
    					<h2><span class="red">people who got there </span>free ipad 3 are you next - <span class="green">$0</span></h2>
    					<div style="width: 800px">
    					<div class="team-item" style="float: left;margin-right: 43px;">
                            <div class="avatar">
                                <%= image_tag("girlone.jpg") %>
                            </div>

                            <div class="info-holder">
                                <div class="title">
                                    <div class="position">Lauren</div>
                                    <div class="desc" style="width: 185px;color: white;">" i was a little skeptical about try this but im so glad i did... "</div>
                                </div>
                            </div>
                        </div>
                        <div class="team-item" style="float: left;margin-right: 43px;">
                            <div class="avatar">
                                <%= image_tag("girltwo.jpg") %>
                            </div>

                            <div class="info-holder">
                                <div class="title">
                                    <div class="position">Brianna</div>
                                    <div class="desc" style="width: 185px;color: white;"> one of my friends told me about this i did two survey and in about 2 weeks i got it im telling ever body i know about this..</div>
                                </div>
                            </div>
                        </div>
                                <div class="team-item">
                            <div class="avatar">
                                 <%= image_tag("manone.jpg") %>
                            </div>

                            <div class="info-holder">
                                <div class="title">
                                    <div class="position">james</div>
                                    <div class="desc" style="width: 185px;color: white;"> OMG this is so easy.. i cant belive this really happen ( want free thing) you are the best telling every one i know</div>
                                </div>
                                </div>
                            </div>
    					
    				</div><!--price bg -->
    				<a href="http://trkur.com/trk?o=7152&p=131385&s1=7serch" class="green-btn">Sign Up Now & get your ipad next!! </a>
    			</div><!-- span3 -->
    		</div>
    		 <div class="span12">
    				<div class="price-bg">
    					<ul class="iconBulletList">
			<li style="width: 250px;float: left;margin: 5px">
				<img src="http://freeusipad.us/img/bulletIcon5.png" alt="Bullet Icon" class="fl">
				<h2>Worldwide Accessibility</h2>
				<p class="red">Thee Free US iPad is only available to residents of the United States but the iPad can be used worldwide, access your Apps and Internet fron anywhere!</p>
			</li>
			<li style="width: 250px;float: left;margin: 5px">
				<img src="http://freeusipad.us/img/bulletIcon5.png" alt="Bullet Icon" class="fl">
				<h2>Stay Connected</h2>
				<p class="red">Use your new iPad to stay connected to your friends via email. Your new iPad will work with Twitter, Facebook, Email, Skype, and so much more!</p>
			</li>
			<li style="width: 250px;float: left;margin: 5px">
				<img src="http://freeusipad.us/img/appstoreicon.png" alt="Bullet Icon" class="fl">
				<h2>App Store Access</h2>
				<p class="red">Your free iPad will be able to access everything in the Apple App Store where you can download hundreds of thousands of apps for your iPad.</p>
			</li>

			<li style="width: 250px;float: left;margin: 5px">
				<img src="http://freeusipad.us/img/ipadicon.png" alt="Bullet Icon" class="fl">
				<h2>Genuine Apple iPad</h2>
				<p class="red">Completing the required promotional offers will get a free genuine Apple iPad; there are many imitations out there, Free US iPad only provides genuine Apple iPads.</p>
			</li>

			<li style="width: 250px;float: left; margin: 5px">
				<img src="http://freeusipad.us/img/bulletIcon4.png" alt="Bullet Icon" class="fl">
				<h2>Quick &amp; Easy</h2>
				<p class="red">Getting your free iPad is simple, signup and complete the required number of promotional offers to qualify. It will be shipped to you rather quickly.</p>
			</li>

			<li style="width: 250px;float: left;margin: 5px">
				<img src="http://freeusipad.us/img/bulletIcon6.png" alt="Bullet Icon" class="fl">
				<h2>Safe & Secure</h2>
				<p class="red">All information provided will be securely stored. You do not have to worry about unauthorized release of your information.</p>
			</li>

		</ul>
    				</div><!--price bg -->
    		 </div>
    		
<script>
            // countdown setup
            // set date, note: months are 0-based ---- numbers are: year, month, day, hour, minute, second, milliseconds
            var ts = (new Date(2013,10,6,10,0,0,0));
            $('#countdown').countdown({ timestamp : ts, movement: 60 });
        </script>