  <div class="container-fluaid">
    <div class="wantfreething"> 

    </div>
 
<div class="row">
    			<div class=" col-md-8">
    				<div class="price-bg" style="width: 738px;margin: 0px auto;">
    					<h2><span class="red">New Photos From</span> RalphSpot <span class="green"></span></h2>
    					<div style="width: 100%;"><% @postsp.each do |upload| %>
      <table class="browse-show" style="width: 160px;">
        <tr>
        <td ><%= link_to image_tag(upload.urlpic, :alt => upload.title, :title => upload.title, :style =>"height: 160px;width: 160px;"), upload,{:class => "img_user"}  %></td>
        </tr>
        <tr class="showpageuploadrow">
        <td class="for-font"><%= link_to truncate( upload.title, :length => 25), upload %></td>
      </tr>
      </table>
      <% end %> </div>
      <div style="clear: both"></div>
    				</div><!--price bg -->
    			</div><!-- span3 -->
    	    	<div class="col-md-4">
    				<div class="price-bg">
    					<h2><span class="red">most</span> viewed- <span class="green"></span></h2>
    					<!-- Classic, created 12/03/13 -->
              <iframe allowtransparency="1" frameborder="0" height="732" id="plwpr5161852b4dbb819e220.36395259" scrolling="no" src="http://widget.plugrush.com/wantfreethings.net/4vi8" width="336"></iframe>
              <!-- end -->


    				</div><!--price bg -->
    			</div><!-- span3 -->
    			
        </div>
    		 </div>
    		
<script>
            // countdown setup
            // set date, note: months are 0-based ---- numbers are: year, month, day, hour, minute, second, milliseconds
            var ts = (new Date(2013,10,6,10,0,0,0));
            $('#countdown').countdown({ timestamp : ts, movement: 60 });
        </script>