  <div class="container">
    <div class="wantfreething"> 

    </div>
 
<div class="row">
    			<div class="span7">
    				<div class="price-bg">
    					<div><a href='http://trkur.com/trk?o=7152&p=131385&s1=&s2=&s3='><img src='http://www.sellcell.com/blog/wp-content/uploads/2012/12/apple-ipad-3.jpg' /></a></div>
    					<h2><span class="red">ipad 3Gen</span> Get it here Free <span class="green">$0</span></h2>
    					<p class="red">Hurry up and get it for free.
						More music, messages, and websites. Major improvement has to do with the processor of the device, which is now the so-called A5X - still a dual-core processor, but with a new quad-core GPU for outstanding graphics performance. Surprise yourself with this great gadget</p>
    					<a href="http://trkur.com/trk?o=7152&p=131385&s1=7serch" class="green-btn">Sign Up Now & get your ipad next!! </a>
    				</div><!--price bg -->
    			</div><!-- span3 -->
    	    	<div class="span5">
    				<div class="price-bg">
    					<i class="icon-folder-open"></i>
    					<h2><span class="red">16GB</span> ipad 3Gen for free - <span class="green">$0</span></h2>
    					<p>This package is great for personal use.</p>
						<ol>
						<li style="color: white;"><b>first you enter your email( i have two email accounts one for important stuff and one for try things like this)&nbsp;</b></li>
						<li style="color: white;"><b>this is what happen next you have to&nbsp;participate in A surveys its&nbsp;not&nbsp;that long maybe about 20 question&nbsp;</b></li>
						<li style="color: white;"><b>then you have to tell about three friend about this offer. That's it then&nbsp; we will asks&nbsp;for your shipping address&nbsp;</b></li>
						<li style="color: white;"><b>then about 7 days later you will get your  ipad 3 <span  class="red">&nbsp;Important(  you will get a&nbsp;</span></b><span class="red"><b>refurbished ipad. but it work and gets the job done and its FREE </b></span></li>
						<li><b>Get it A try and watch it work&nbsp;</b></li>
						</ol>

    				</div><!--price bg -->
    			</div><!-- span3 -->
    			<div class="span12">
    				<div class="price-bg">
    					<i class="icon-folder-open"></i>
    					<h2><span class="red">people who got there </span>free ipad 3 are you next - <span class="green">$0</span></h2>
    					<div style="width: 800px">
    					<div class="team-item" style="float: left;margin-right: 43px;">
                            <div class="avatar">
                                <%= image_tag("girlone.jpg") %>
                            </div>

                            <div class="info-holder">
                                <div class="title">
                                    <div class="position">Lauren</div>
                                    <div class="desc" style="width: 185px;color: white;">" i was a little skeptical about try this but im so glad i did... "</div>
                                </div>
                            </div>
                        </div>
                        <div class="team-item" style="float: left;margin-right: 43px;">
                            <div class="avatar">
                                <%= image_tag("girltwo.jpg") %>
                            </div>

                            <div class="info-holder">
                                <div class="title">
                                    <div class="position">Brianna</div>
                                    <div class="desc" style="width: 185px;color: white;"> one of my friends told me about this i did two survey and in about 2 weeks i got it im telling ever body i know about this..</div>
                                </div>
                            </div>
                        </div>
                                <div class="team-item">
                            <div class="avatar">
                                 <%= image_tag("manone.jpg") %>
                            </div>

                            <div class="info-holder">
                                <div class="title">
                                    <div class="position">james</div>
                                    <div class="desc" style="width: 185px;color: white;"> OMG this is so easy.. i cant belive this really happen ( want free thing) you are the best telling every one i know</div>
                                </div>
                                </div>
                            </div>
    					
    				</div><!--price bg -->
    				<a href="http://trkur.com/trk?o=7152&p=131385&s1=7serch" class="green-btn">Sign Up Now & get your ipad next!! </a>
    			</div><!-- span3 -->
    		</div>
    		 </div>