<div class="container-fluaid">
    <div class="wantfreething"> 

    </div>
 
<div class="row">
    			<div class=" col-md-8">
    				<div class="price-bg" style="width: 738px;margin: 0px auto;">
    					<h2 style=" text-align: center;"><span class="red"><%= @post.title %></span> <span class="green"></span></h2>
    					<div style="width: 100%;">
      <div class="browse-show" style="width: 100%;margin: 0px auto;">
        <div style="width: 500px;margin: 0px auto;">
        <%= image_tag(@post.urlpic, :alt => @post.title, :title => @post.title, :style =>"width: 500px; margin: 0px auto;", :class => "img_user")%></div>
      </div>
       </div>
      <div style="clear: both"></div>
    				</div><!--price bg -->
    			</div><!-- span3 -->
    	    	<div class="col-md-4">
    				<div class="price-bg">
    					<h2><span class="red">most</span> <span class="green"> Viewed</span></h2>
    					<iframe allowtransparency="1" frameborder="0" height="732" id="plwpr5161852b4dbb819e220.36395259" scrolling="no" src="http://widget.plugrush.com/wantfreethings.net/4vi8" width="502"></iframe>


    				</div>
          </div>
        </div>